{% extends 'base.html' %}
{% block content %}
{% include 'app/status.html' %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>View Profile</th>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Description</th>
                    <th>Delete Employee</th>
                </tr>
                {% for students in student %}
                    <tr>
                        <td><a class="btn btn-sm btn-info" href="{% url 'profile' students.id %}">View</a></td>
                        <td>{{students.id}}</td>
                        <td>{{students.name}}</td>
                        <td>{{students.phone}}</td>
                        <td>{{students.email}}</td>
                        <td>{{students.description}}</td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete' students.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}